/* Nav.css */
nav {
  background-color: var(--highlight-white);
  padding: 10px 0;
  width: 100%;
}

.nav-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-link {
  display: block;
  transition: opacity 0.3s ease;
}

.nav-logo-link:hover {
  opacity: 0.8;
}

.nav-logo {
  height: 50px;
  width: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: var(--highlight-black);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--primary-green);
}

/* Create underline effect on hover */
nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-green);
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Active link styles */
nav ul li a.active {
  color: var(--primary-green);
}

nav ul li a.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav-content {
    flex-direction: column;
  }

  .nav-logo {
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  nav ul li {
    margin: 10px 0;
  }
}